.TodoChart {
  display: flex;
  flex-direction: column;
}

.TodoChart > .chart {
  height: 70vh;
}

.TodoChart > .chart-list-counter {
  display: flex;
  align-items: center;
  z-index: 10;
  margin: 0 2rem;
  margin-left: auto;
  margin-top: 1rem;
}

.TodoChart .chart-list-counter > div {
  width: 3em;
  text-align: center;
}

.TodoChart .chart-list-counter > .click {
  font-size: 1.5rem;
}
