.header-wrap {
  background-color: var(--light-color);
  box-shadow: var(--light-shadow);
  position: sticky;
  z-index: 50;
  top: 0;
}

header {
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.header-wrap .NavBtnM {
  display: none;
}

header > .mobile-menu {
  font-size: 2rem;
  display: none;
}

.header-left {
  flex: 1;
  margin-left: 1rem;
}

.header-left > div {
  display: flex;
  align-items: center;
}

.header-left > h2 {
  display: none;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-right > img {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
}

.header-right > * {
  margin-left: 1rem;
}

.header-right > .logout-btn {
  font-size: 2rem;
}

@media (max-width: 768px) {
  header .NavBtn {
    display: none;
  }

  header > .mobile-menu {
    display: block;
    margin-left: 1rem;
  }

  .header-wrap .NavBtnM {
    display: block;
  }

  .header-left > h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    flex: 1;
  }
}
