header {
  background-color: var(--light-color);
  display: flex;
  flex-direction: row;
  box-shadow: var(--light-shadow);
  position: sticky;
  z-index: 50;
  top: 0;
}

.header-left {
  flex: 1;
  margin-left: 2rem;
}

.header-left > div {
  display: flex;
  align-items: center;
}

.header-left > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.header-right > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3rem;
}

.header-right > * {
  margin-left: 1rem;
}

.header-right > button {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  background: transparent;
  padding: 0;
  border: none;
}
