.NavBtn > ul {
  display: flex;
  width: 60%;
}

.NavBtn > ul > li {
  flex: 1;
  text-align: center;
  font-weight: bold;
  background-color: var(--light-list-color);
  margin-right: 1rem;
  height: 2.5rem;
  border-top-left-radius: 1rem 1rem;
  border-top-right-radius: 1rem 1rem;
  margin-bottom: 0.3rem;
}

.NavBtn > ul > li > div {
  background-color: transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.NavBtn .on {
  background-color: var(--light-list-checked-color);
  color: white;
}
