.TodoClosedWarning .close-warning {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.TodoClosedWarning .close-warning > p {
  margin-right: 0.5rem;
}

.TodoClosedWarning .close-warning > .expand-btn {
  font-size: 1.5rem;
}

.TodoClosedWarning .close-list {
  margin-top: 1rem;
}

.TodoClosedWarning .close-list .close-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  font-size: 1.5rem;
}
