.TodoList .filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.TodoList .filter-box .sort-box {
  margin-top: 0;
}

.TodoList .date-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.TodoList .date-control > .date {
  flex: 1;
}

.TodoList .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-list-color);
}

.TodoList .btn-group > button {
  margin: 0 0.5rem;
  font-size: 1rem;
  background-color: var(--light-color);
  border: solid var(--light-list-color) 0.1rem;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
}
