.TodoItem {
  border: solid 0.4rem var(--light-list-color);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TodoItem > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoItem .dates {
  border: solid black 2px;
  border-radius: 10rem;
  padding: 0.1rem 0.5rem;
}
