.TodoClosedWarning .close-warning {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.TodoClosedWarning .close-warning[class~="hidden"] {
  display: none;
}

.TodoClosedWarning .close-warning > p {
  margin-right: 0.5rem;
}

.TodoClosedWarning .close-warning > .expand-btn {
  font-size: 1.5rem;
  background-color: var(--light-color);
  border-radius: 5rem;
  border: solid 0.1rem var(--light-list-color);
}

.TodoClosedWarning .close-list {
  margin-top: 1rem;
}

.TodoClosedWarning .close-list .close-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  font-size: 1.3rem;
}

.TodoClosedWarning .close-list .close-box > .click {
  font-size: 1.5rem;
}
