.TodoFilter {
  margin: 0 2rem;
}

.TodoFilter .sort-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.TodoFilter .sort-box > .sort-btn {
  margin-left: auto;
  font-size: 1.5rem;
  background-color: var(--light-color);
  border-radius: 0.1em;
  border: solid 0.1rem var(--light-list-color);
  box-sizing: content-box;
}

.TodoFilter .sort-list {
  margin-top: 1rem;
}

.TodoFilter .sort-list > ul {
  display: flex;
  margin-bottom: 1rem;
}

.TodoFilter .sort-list > ul > li {
  flex: 1;
  text-align: center;
  margin: 0 0.5rem;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--light-color);
}

.TodoFilter .sort-list > ul > .on {
  background-color: var(--light-list-color);
}
