.TodoFilter {
  margin: 0 2rem;
}

.TodoFilter .sort-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.TodoFilter .sort-box > span {
  margin-left: auto;
}

.TodoFilter .sort-box .extand {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 1.3em;
  margin-left: 0.5rem;
}

.TodoFilter .sort-list {
  margin-top: 1rem;
}

.TodoFilter .sort-list > ul {
  display: flex;
  margin-bottom: 1rem;
}

.TodoFilter .sort-list > ul > li {
  flex: 1;
  text-align: center;
  margin: 0 0.5rem;
  padding: 1rem 0;
  border-radius: 1rem;
  background-color: var(--light-color);
}

.TodoFilter .sort-list > ul > .on {
  background-color: var(--light-list-color);
}
