.TodoEdit {
  border: solid 0.4rem var(--light-list-checked-color);
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}

.TodoEdit > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TodoEdit .edit-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.TodoEdit .edit-top > textarea {
  flex: 1;
  font-size: 1rem;
  height: fit-content;
  resize: none;
  overflow-y: hidden;
  line-height: 1.5em;
  margin-right: 1rem;
}

.TodoEdit .edit-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoEdit .edit-bot > :last-child > button {
  font-size: 1.7rem;
  background-color: transparent;
  padding: 0;
  border: none;
}

.TodoEdit .edit-bot > :last-child > button:first-child {
  margin-right: 0.5rem;
}
