.TodoSetting {
  margin: 0 auto;
  max-width: 1920px;
}

.TodoSetting > div {
  margin: 1rem 2rem;
  border: solid var(--light-list-color) 0.2rem;
  border-radius: 1rem;
  padding: 1rem;
}

.TodoSetting > div:not(:first-child) {
  margin-top: 2rem;
}

.TodoSetting > div > p {
  border-bottom: solid var(--light-color) 0.15rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.TodoSetting > div > ul {
  margin-top: 1rem;
}

.TodoSetting > div > ul > li {
  padding: 0.8rem;
  background-color: var(--light-color);
  border-radius: 1rem;
  cursor: pointer;
}

.TodoSetting > div > ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
